.loader {
    width: 100%;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h2 {
    font-size: 3.2rem;
}

@media screen and (max-width:767px) {
    .loader h2 {
        font-size: 2.1rem;
    }
}