.button {
  position: relative;
  display: inline-block;
  background: var(--green);
  color: var(--black);
  font-size: 2.8rem;
  font-weight: 500;
  border-radius: 3rem;
  padding: 1rem 3rem;
  transition: 300ms;
}

.button:hover {
  background: var(--white);
  color: var(--black);
}

/* Media Queries */
@media only screen and (max-width: 1366px) {
  .button {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .button {
    font-size: 1.8rem;
  }
}
