.teamworkmmain{
    width: 100%;

    overflow: hidden;
}
#teamwork{
    position:relative;
    overflow: hidden;

}
/* .row .column-60.state{
    margin: 40rem;
} */

.column-contents {
    font-size: 2rem;
    padding: 5rem 2.5rem 5rem 5rem;
  }
  .team2{
    position: relative;
    overflow: hidden;
  }
  .team2 .state{
    position: relative !important;
    /* min-width: 100% !important; */
  }