.scrolling {
    /* min-height: 100vh; */
    margin-bottom: 100vh;
}

.scrollContainer {
    position: relative;
    height: 200vh;
    background-color: black;
    /* background: url('../../assets/images/circleblock.png') no-repeat center; */
}

.stickymask  {
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 80%;
}

.stickymask img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* .maskR{
    width: 100%;
} */
.maskR .textbox{
    border: 1px solid var(--Main-Stroke, rgba(255, 255, 255, 0.70));
    background: var(--Main-Gradient, linear-gradient(113deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0.00) 110.84%));
    /* Main Blur Effect */
    backdrop-filter: blur(21px);
    max-width: 700px;
    width: 100%;
    text-align: center;
    height: 300px;
    padding: 1rem;
    border: 1px solid;
    border-radius: 2rem;

}