.column-70 {
    width: 70%
}

.column-30 {
    width: 30%;
}

.all_link {
    padding: 3rem;
    position: sticky;
    top: 15%;
    line-height: 3rem;
}

.all_link>p  {
    cursor: pointer;
    text-transform: capitalize !important;
    transition: all 300ms;
}

.all_link>p a:hover {
    color: var(--green);
}

.all_link h4 {

    font-weight: 600;

}

.exploreServices {
    min-height: 100vh;
    width: 100%;
    padding: 25px;
}

.container .exploreHeading {
    background: url('/src/assets/images/glass.png') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    border-radius: 2rem;
    padding: 3.5rem;
    overflow: hidden;
}

.exploreServices h3 {
    color: var(--green);
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
}

.exploreHeading {
    padding: 2.5rem;
}

.exploreHeadingInner {
    padding: 1rem 2.5rem;
}

.exploreHeadingInner h4 {
    font-size: 2.1rem;
}

.exploreHeadingInner ul {
    padding: 2.5rem 5rem;
    list-style: circle;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.side {
    transition: 0.5s;
}

.side>svg {
    transform: rotate(-90deg);
}

.low>svg {
    transform: rotate(0deg);
}

.innercontain {
    display: flex;
}


@media screen and (max-width:1366px) {
    .exploreServices h3 {
        color: var(--green);
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1024px) {
    .accodian .vectortext {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

@media screen and (max-width:991px) {
    .column-70 {
        width: 100%
    }

    .column-30 {
        width: 100%;
    }

    .exploreHeading {
        padding: 2rem 0;
    }

    .exploreServices .container {
        padding: 0;
    }

    .exploreHeadingInner h4 {
        font-size: 1.8rem;
    }
    
}

@media screen and (max-width:567px) {
    
    .exploreHeadingInner {
        padding: 0rem;
    }
    .h3{
        font-size: 2rem;
    }
    .container .exploreHeading{
        padding: 1rem;
    }

    .exploreHeadingInner ul {
        padding: 2rem;
        font-size: 1.4rem;
    }


}