.column-70 {
    width: 70%
}

.column-30 {
    width: 30%;
}

.all_link {
    padding: 3rem;
    position: sticky;
    top: 15%;
    line-height: 3rem;
}

.all_link>p {
    cursor: pointer;
    text-transform: capitalize !important;
    transition: all 300ms;
    text-wrap: nowrap;
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
}

.all_link>p a:hover {
    color: var(--green) !important;
}

.all_link h3 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: var(--green);
    letter-spacing: 0.2rem;
}

.exploreServices {
    min-height: 100vh;
    width: 100%;
    padding: 25px;
}

.exploreheadingmain {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.maintext {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--green);
}

.container .exploreHeading {
    background: url('/src/assets/images/glass.png') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    border-radius: 2rem;
    padding: 3.5rem;
    overflow: hidden;
}

.exploreServices h3 {
    color: var(--green);
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.exploreHeading {
    padding: 2.5rem;
}

.exploreHeadingInner {
    padding: 1rem 2.5rem;
}

.exploreHeadingInner h4 {
    letter-spacing: 0.2rem;
    font-size: 2.1rem;
}

.exploreHeadingInner ul {
    padding: 2.5rem 5rem;
    letter-spacing: 0.1rem;
    list-style: circle;
    font-weight: 600;
    color: var(--white);
}

.exploreHeadingInner ul li b {
    font-weight: 1000 !important;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.showD {
    display: block;
}

.hideD {
    display: none;
}

.side {
    transition: 0.5s;
    font-size: 2rem;
}

.side>svg {
    transform: rotate(-90deg);
}

.low>svg {
    transform: rotate(0deg);
}

.innercontain {
    display: flex;
}


@media screen and (max-width:1366px) {
    .exploreServices h3 {
        color: var(--green);
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1024px) {
    .accodian .vectortext {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

@media screen and (max-width:991px) {
    .column-70 {
        width: 100%
    }

    .column-30 {
        width: 100%;
    }

    .exploreHeading {
        padding: 2rem 0;
    }

    .exploreServices .container {
        padding: 0;
    }

    .exploreHeadingInner h4 {
        font-size: 1.8rem;
    }


    /* phone view headding and content  */


    .showD {
        display: block;
    }

    .hideD {
        display: none;
    }




}

@media screen and (max-width:567px) {

    .exploreHeadingInner {
        padding: 0rem;
    }

    .exploreHeading h3 {
        font-size: 2rem !important;
    }

    .all_link {
        padding: 3rem 0;
    }

    .all_link>p {
        text-wrap: wrap;
        font-size: 1.6rem !important;
    }

    .exploreHeadingInner h4 {
        font-size: 1.6rem;
    }

    .container .exploreHeading {
        padding: 1rem;
        min-height: 0;
    }

    .exploreHeadingInner ul {
        padding: 2rem;
        font-size: 1.4rem;
    }


}

